/* .search {
    border-color: black; 
    align-items: space-between;
    text-align: center;
    padding-left: 35px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    background-color: #F4F4F4;
} */