.header {
    display: grid;
    grid-template-columns: 10% 25% 5% 20% 15% 30% 40%;
    grid-template-rows: 100px;
    vertical-align: middle;
    text-align: center;
    grid-gap: 2px;
    font-family: serif;
    font-size: 30px;
    background-color: #d61111;
    
}

.name {
    cursor:ns-resize;
    font-size: smaller;   
}

.p {
    padding-top: 20px;
}

.S{
    padding-top: 20px;
}
.A{
    padding-top: 20px;
}
.E{
    padding-top: 20px;
}
.P{
    padding-top: 20px;
}